*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(35, 40, 52);
  color: rgba(211, 211, 211, 0.849);
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

h1 {
  color: green;
  font-style: italic;
}

button {
  padding: 8px;
  margin: 5px;
  border-radius: 8px;
}
button:focus {
  outline: none;
}

.log,
.important,
.m-important,
.cancel {
  border: transparent;
  background-color: aliceblue;
}
.m-important {
  padding: 5px;
}
.log,
.important {
  margin-left: 0;
}
.m-important {
  margin-left: 10px;
}
.cancel {
  margin: 0 5px;
}
.loginForm {
  padding: 10px;
  margin: 10px;
  padding-left: 0;
  margin-left: 0;
}
.loginForm form div {
  font-size: 18px;
}
.input {
  margin: 10px;
  padding: 5px;
}
.loginUser {
  margin-bottom: 10px;
  font-size: 20px;
}
.user {
  color: coral;
  font-style: oblique;
}

.note {
  color: rgba(255, 255, 255, 0.904);
  padding-top: 3px;
  margin-left: 10px;
  font-size: 20px;
}

.error {
  margin: 0 auto;
  width: 500px;
  color: red;
  background: rgba(20, 8, 8, 0.534);
  font-size: 15px;
  border: 2px solid rgb(250, 73, 73);
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 10px;
}
